.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.25s;
  transform: scale(1);
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  transform: scale(0.98);
  opacity: 0;
}
