#app {
  .profile {
    padding-left: 15px;

    .mdi:before,
    .mdi-set {
      display: inline-block;
      font-size: 1px;
      line-height: inherit;
      color: rgb(255, 255, 255);
      padding: 80% 0 0 200%;

      &:hover {
        display: inline-block;
        font-size: 65px;
        line-height: inherit;
        color: rgb(255, 255, 255);
        padding: 80% 0 0 200%;
      }
    }

    .vue-tel-input,
    .vue-tel-input__slot {
      border: 1px;
      border-radius: 10px;
      height: 45px;
      box-shadow: inset 4px 4px 4px 0 rgb(199, 199, 199);
      width: 80%;
    }

    h2 {
      padding-top: 15px;
      padding-left: 15px;
      font-size: 24px;
      font-weight: 600;
      display: block;
      span {
        font-size: 16px;
        display: inline-block;
      }

      .v-chip {
        height: auto;
        &__content {
          padding: 6px 0px;
        }
      }
    }
    h4 {
      padding-left: 16px;
      padding-top: 6px;
      font-size: large;
      font-weight: 300;
    }

    h3 {
      font-size: 18px;
      font-weight: 600;
    }
    .v-input.v-text-field,
    .v-custom-select {
      padding-top: 12px;
      padding-left: 0px;
      width: 80%;
    }

    .v-custom-select {
      padding-left: 20px;
      margin-top: 12px;
    }
    .v-avatar {
      border-radius: 0px;
      position: relative;
      img {
        display: block;
        width: 200px;
        height: 200px;
        cursor: pointer;
        background-size: cover;
        background-position: center center;
        border-radius: 16px;
      }
      .input-file {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.35);

        &:hover {
          background: rgba(0, 0, 0, 0.75);
        }
        i.fa {
          font-size: 24px;

          color: #fff;

          z-index: 96;
          position: relative;
        }

        input {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 95;
          opacity: 0;
        }
      }
    }
    .v-btn {
      margin-right: 10%;
    }
    .image-input {
      display: block;
      width: 200px;
      height: 200px;
      cursor: pointer;
      background-size: cover;
      background-position: center center;
      border-radius: 16px;
    }

    .placeholder {
      background: #f0f0f0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #333;
      font-size: 18px;
      font-family: Helvetica;
    }

    .placeholder:hover {
      background: #e0e0e0;
    }

    .file-input {
      display: none;
    }
  }
}
